<div ng-controller="ProcessCtrl">
<div class="box box-info" ng-if="process">
	<div class="box-header">
		<div class="box-title">Process "{{ process.name }}"</div>

		<!-- <div class="pull-right box-tools">
			 <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			    
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			    <li><a href="#">Action</a></li>
			    <li><a href="#">Another action</a></li>
			    <li><a href="#">Something else here</a></li>
			    <li><a href="#">Separated link</a></li>
			  </ul>
    	</div> -->
	</div>

	<div class="box-body">
		
		<ul class="list-group">
			<li class="list-group-item">
				Created: {{ timeSince(process.createdAt) }}
			</li>
		</ul>
	</div>
</div>
</div>



<div class="box box-warning" ng-controller="ProcessListCtrl">
	<div class="box-header">
		<div class="box-title">Processes</div>

		<!-- <div class="pull-right box-tools">
			 <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			    
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			    <li><a href="#">Action</a></li>
			    <li><a href="#">Another action</a></li>
			    <li><a href="#">Something else here</a></li>
			    <li><a href="#">Separated link</a></li>
			  </ul>
    	</div> -->
	</div>

	<div class="box-body">
		<ul class="list-group simple-links-list">
			<li ng-repeat="process in processes" class="list-group-item">
				<a ui-sref="process({id: process.name})">{{ process.name }}</a>
				<small class="text-muted">{{ timeSince(process.createdAt) }}</small>
			</li>
		</ul>
	</div>
</div>