<div ng-controller="RessourceCtrl">
<div class="box box-info" ng-if="ressource">
	<div class="box-header">
		<div class="box-title">Ressource "{{ ressource.name }}"</div>

		<!-- <div class="pull-right box-tools">
			 <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			    
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			    <li><a href="#">Action</a></li>
			    <li><a href="#">Another action</a></li>
			    <li><a href="#">Something else here</a></li>
			    <li><a href="#">Separated link</a></li>
			  </ul>
    	</div> -->
	</div>

	<div class="box-body">
		
		<ul class="list-group">
			<li class="list-group-item">
				Created: {{ timeSince(ressource.createdAt) }}
			</li>
		</ul>
	</div>
</div>
</div>



<div class="box box-warning" ng-controller="RessourceListCtrl">
	<div class="box-header">
		<div class="box-title">Ressources</div>

		<!-- <div class="pull-right box-tools">
			 <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			    
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			    <li><a href="#">Action</a></li>
			    <li><a href="#">Another action</a></li>
			    <li><a href="#">Something else here</a></li>
			    <li><a href="#">Separated link</a></li>
			  </ul>
    	</div> -->
	</div>

	<div class="box-body">
		<ul class="list-group simple-links-list">
			<li ng-repeat="ressource in ressources" class="list-group-item">
				<a ui-sref="ressource({id: ressource.name})">{{ ressource.name }}</a>
				<small class="text-muted">{{ timeSince(ressource.createdAt) }}</small>
				<a class="pull-right text-muted" href="" ng-click="deleteElement('ressource', ressource._id)">x</a>
			</li>
		</ul>
	</div>
</div>