<div ng-controller="PersonCtrl">
<div class="box box-info" ng-if="person">
	<div class="box-header">
		<div class="box-title">Person "{{ person.name }}"</div>

		<!-- <div class="pull-right box-tools">
			 <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			    
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			    <li><a href="#">Action</a></li>
			    <li><a href="#">Another action</a></li>
			    <li><a href="#">Something else here</a></li>
			    <li><a href="#">Separated link</a></li>
			  </ul>
    	</div> -->
	</div>

	<div class="box-body">
		
		<ul class="list-group">
			<li class="list-group-item">
				Active since: {{ person.createdAt }}
			</li>
		</ul>
	</div>
</div>
</div>



<div class="box box-warning" ng-controller="PersonListCtrl">
	<div class="box-header">
		<div class="box-title">Persons</div>

		<!-- <div class="pull-right box-tools">
			 <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			    
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			    <li><a href="#">Action</a></li>
			    <li><a href="#">Another action</a></li>
			    <li><a href="#">Something else here</a></li>
			    <li><a href="#">Separated link</a></li>
			  </ul>
    	</div> -->
	</div>

	<div class="box-body">
		<ul class="list-group simple-links-list">
			<li ng-repeat="person in persons" class="list-group-item">
				<a ui-sref="person({id: person.name})">{{ person.name }}</a>
				<small class="text-muted">{{ timeSince(person.createdAt) }}</small>
			</li>
		</ul>
	</div>
</div>